# Name of experiment
name: 'base' 
# Type of algorithm, GS/SGD/BS
gt_path: '.\fabrication_calib\gt_fit_files'
lp_path: '.\fabrication_calib\lp_fit_files'
# gt_path: 'C:\Users\zzh\MATLAB Drive\DLW-fab\gt_depth'
# lp_path: 'C:\Users\zzh\MATLAB Drive\DLW-fab\lp_data'

device: 'cuda'
method: 'SGD'
radial_symmetry: False
optim_params:
  # optimizer type, adam/sgd
  optimizer: 'adam'
  eps: 1.0e-8
  amsgrad: False
  mask_grad_percentage: 1.0
  # Learning rate for phase variables (for SGD)
  lr: 0.05 # 2D
  # lr: 0.2 # 1D
  # Learning rate for learnable scale (for SGD)
  lr_s: 0.0e-4
  # Number of iterations
  num_iters: 10000

method_phase: 'GS'
optim_params_phase:
  # optimizer type, adam/sgd
  optimizer: 'adam'
  eps: 1.0e-8
  amsgrad: False
  mask_grad_percentage: 1.0
  lr: 1.0e-8 
  # Learning rate for learnable scale (for SGD)
  lr_s: 0.0e-4
  # Number of iterations
  num_iters: 1000

loss_params:
  use_nonzero_mask: False
  use_zero_mask: False
  channel_weight: [1.0]
  batch_weight: [1.0]
  eff_penalty_weight: 0.0
  eff_penalty_ratio: 0.1
  spectrum_penalty_weight: 0.0
  var_penalty_weight: 0.0
  square: True
  custom: 'L2' # L1 or Laplacian
  normalize: 'sqrt'

loss_params_phase:
  use_nonzero_mask: False
  use_zero_mask: False
  channel_weight: [1.0]
  batch_weight: [1.0]
  eff_penalty_weight: 0.0
  spectrum_penalty_weight: 0.0
  var_penalty_weight: 0.0
  square: True
  custom: 'L2' # L1 or Laplacian
  normalize: 'sqrt'

# for propagation model
normalize: False

# aperture shape: 'square' or 'round'
aperture_type: 'square' 

# illumination condition
# for plane wave: power=1/focal_length=0.0
input_power: 0.0
# Type of propagation model, ASM/FFT/SFR
prop_model: 'FFT'
# use fabrication model optimization
fab_opt: true

# propagation distance in cm
prop_dist: [2.5e-2]
output_size: null # output size for SFR modeling
# wavelength in nm (correspoinding to prop_dist list)
# wavelength: [450,520,650]
# channel_weight: [2, 4, 6]
wavelength: [650.0e-9]

fab_var: null

min_dose: 0.0
max_dose: 255.0


lp_ratio: 1.0

slm_res: [1000,1000]
output_res: [200,200] # simulation output res. (must >= roi_res, use interp)
target_res: [200,200] # Target resize res. (can < or > roi_res, corresponding to image pad/crop) 
roi_res: [200,200] # roi res. of target/simulation when calc. loss

save_wrap_res: null
save_pixel_multiply: null

normalize_ratio: 1.0 # scaling of target amp.

# plot params. for multi-batch targets
plot_layout: [4,-1]

# refraction index (correspoinding to wavelength list)
refraction_index: [1.62]
# SLM pitch in um
feature_size: [1.0e-6, 1.0e-6]
# Directory where optimized phases will be saved.
root_path: './BMP'
# Directory for tensorboard summaries
sum_path: './summary'

# load checkpoints or not (~)/2D_sgd_0/1D_sgd_0
load_checkpoint_file: ~
# save checkpoints filename
save_checkpoint_file: '2D_sgd_0'