name: '0417_2d15_4_62d_650_2step' 


# lp_file: 'lp0411-115-115s.mat'
# gt_file: 'gt0411-125-115s.mat'
# min_dose: 30.0
lp_file: 'lp0418-2-130-110s.mat'
gt_file: 'gt0418-2-143-110s.mat'
prop_model: 'FFT'
device: 'cuda'

input_power: 0.0
# prop_dist: [20.0e-2]
# output_size: [17.8e-2, 17.8e-2]

pattern_type: 'dot_projector'
pattern_params:
  dim: 2
  num_y: 15 
  num_x: 15 # if use 2D
  fwhm: null
  distort_corr: True
  margin: 1 # in unit of pixels


feature_size_phase: [1.0e-6, 1.0e-6]
slm_res: [1000,1000] # DOE res. 
output_res: [1000,1000] # simulation output res. (must >= roi_res, use interp)
target_res: [800,800] # Target resize res. (can < or > roi_res, corresponding to image pad/crop) 
roi_res: [900,900] # roi res. of target/simulation when calc. loss

feature_size: [0.5e-6, 0.5e-6]
save_wrap_res: [4000,4000]
save_pixel_multiply: 1

method_phase: 'SGD'
optim_params_phase:
  lr: 0.5e-8
  lr_s: 1.0e-4
  num_iters: 15000
# method_phase: 'BS'
# optim_params_phase:
#   num_iters: 600
# method_phase: 'GS'
# optim_params_phase:
#   num_iters_phase: 800
loss_params_phase:
#   use_nonzero_mask: False
#   use_zero_mask: False
  channel_weight: [1.0]
  eff_penalty_weight: 0.0
  square: True
  normalize: True
#   var_penalty_weight: 0.0

# optim_params:
#   optimizer: 'adam'
#   num_iters: 25000
#   lr: 1.0e+4
#   amsgrad: False
#   eps: 1.0e-8
#   lr_s: 0.0  
# loss_params:
#   square: False
#   normalize: False
#   custom: 'L1'  

# wavelength: [650.0e-9]
# refraction_index: [1.62]


optim_params:
  optimizer: 'adam'
  num_iters: 25000
  lr: 1.0e+6
  amsgrad: False
  eps: 1.0e-8
  lr_s: 0.0  
loss_params:
  square: False
  normalize: False
  custom: 'L1'  

# wavelength: [1550.0e-9]
# refraction_index: [1.6]
wavelength: [650.0e-9]
refraction_index: [1.62]
