name: '0707_fres_ef1_e2e' 

lp_file: 'lp0704-300-50s.mat'
gt_file: 'gt0704-300-50s.mat'

prop_model: 'ASM'
output_size: [5.0e-3, 5.0e-3]

radial_symmetry: False

# prop_dist: [1.0e-3]
# prop_dist: [6.14e-3, 6.2e-3, 6.25e-3, 6.4e-3, 6.6e-3, 6.9e-3]
prop_dist: [14.286e-3, 15.0e-3, 16.0e-3, 17.0e-3, 18.5e-3, 19.608e-3]
# prop_dist: [2.0e-3]
pattern_params:
  relative_fwhm: 3.0
  data_path: './data'
  focal_length: 16.0e-3 
  # center: [[0.0,0.0],[0.0,0.0],[0.0,0.0],[0.0,0.0],[0.0,0.0],[0.0,0.0]]
  center: [[0.0,0.0]]

# aperture_type: 'round' # use round aperture
pattern_type: 'fresnel_lens'

# # SLM pitch in um
# feature_size: [0.5e-6, 0.5e-6]
# save_pixel_multiply: 1 # reduce output feature size by pixel multiplying
slm_res: [3000,3000] # DOE res.
output_res: [3000,3000] # simulation output res. (must >= roi_res, use interp)
target_res: [3000,3000] # Target resize res. (can < or > roi_res, corresponding to image pad/crop) 
roi_res: [3000,3000] # roi res. of target/simulation when calc. loss
save_wrap_res: [3000,3000]

# # SLM pitch in um
feature_size: [1.0e-6, 1.0e-6]
save_pixel_multiply: 2 # reduce output feature size by pixel multiplying
# slm_res: [1000,1000] # DOE res.
# output_res: [1000,1000] # simulation output res. (must >= roi_res, use interp)
# target_res: [1000,1000] # Target resize res. (can < or > roi_res, corresponding to image pad/crop) 
# roi_res: [1000,1000] # roi res. of target/simulation when calc. loss
# save_wrap_res: [1000,1000]


normalize_ratio: 1.0 # scaling of target

device: 'cuda'
# method: 'GS'
# optim_params:
#   num_iters: 500
method: 'SGD'
optim_params:
  num_iters: 10000
  amsgrad: False
  # Learning rate
  lr: 0.15
  lr_s: 0.0001

loss_params:
#   use_nonzero_mask: False
#   use_zero_mask: False
  channel_weight: [1.0]
  # channel_weight: [1.0]
  eff_penalty_weight: 1.0
  eff_penalty_ratio: 0.1
  spectrum_penalty_weight: 0.0
  spectrum_penalty_radial_weight: 0.0
  spectrum_relative_fwhm: 2
  # normalize: 'None'
  normalize: 'sqrt'
  custom: 'L2'
  square: True
  
  
wavelength: [850.0e-9]
refraction_index: [1.604]

# wavelength: [520.0e-9]
# refraction_index: [1.637]
# wavelength: [650.0e-9]
# refraction_index: [1.62]

# wavelength: [480.0e-9,500.0e-9,520.0e-9,540.0e-9,560.0e-9]
# refraction_index: [1.65, 1.637, 1.62]
# refraction_index: [1.641,1.639, 1.637, 1.635,1.633]

# wavelength: [450.0e-9,  700.0e-9]
# refraction_index: [1.65,  1.618]

# wavelength: [460.0e-9, 520.0e-9, 600.0e-9]
# refraction_index: [1.646, 1.637, 1.625]

# wavelength: [480.0e-9,500.0e-9, 520.0e-9, 540.0e-9,560.0e-9]
# refraction_index: [1.641,1.639, 1.637, 1.635, 1.633]

# wavelength: [460.0e-9,480.0e-9,500.0e-9, 520.0e-9, 540.0e-9,560.0e-9,580.0e-9]
# refraction_index: [1.646,1.643,1.640, 1.637, 1.633, 1.63,1.628]

# wavelength: [440.0e-9,460.0e-9,480.0e-9,500.0e-9, 520.0e-9, 540.0e-9,560.0e-9,580.0e-9,600.0e-9]
# refraction_index: [1.65,1.646,1.643,1.640, 1.637, 1.633, 1.63,1.628,1.625]

# wavelength: [440.0e-9,  470.0e-9, 520.0e-9, 590.0e-9, 670.0e-9,  750.0e-9]
# refraction_index: [1.641, 1.636,   1.628,    1.620,     1.613,     1.608]

# wavelength: [450.0e-9,  470.0e-9, 500.0e-9, 550.0e-9, 620.0e-9, 700.0e-9]
# refraction_index: [1.65, 1.643,     1.631,    1.625,   1.617,     1.611]

