name: '0704_fres_2step_2' 

lp_file: 'lp0630-30-140s.mat'
gt_file: 'gt0630-30-140s.mat'

prop_model: 'ASM'

prop_dist: [1.0e-3]
# prop_dist: [50.0e-3, 300.0e-3, 500.0e-3, 1000.0e-3]
pattern_params:
  relative_fwhm: 1.0
  data_path: './data'
  focal_length: 1.0e-3 
  # center: [[0.0,0.0],[0.0,0.0],[0.0,0.0],[0.0,0.0]]
  center: [[0.0,0.0]]

# aperture_type: 'round' # use round aperture
pattern_type: 'fresnel_lens'

# # SLM pitch in um
feature_size: [1.0e-6, 1.0e-6]
feature_size_phase: [1.0e-6, 1.0e-6]
save_pixel_multiply: 2 # reduce output feature size by pixel multiplying
# slm_res: [1000,1000] # DOE res.
# output_res: [1000,1000] # simulation output res. (must >= roi_res, use interp)
# target_res: [1000,1000] # Target resize res. (can < or > roi_res, corresponding to image pad/crop) 
# roi_res: [1000,1000] # roi res. of target/simulation when calc. loss
# save_wrap_res: [1000,1000]

# SLM pitch in um
# feature_size: [0.5e-6, 0.5e-6]
# feature_size_phase: [0.5e-6, 0.5e-6]
# save_pixel_multiply: 1 # reduce output feature size by pixel multiplying
slm_res: [2000,2000] # DOE res.
output_res: [2000,2000] # simulation output res. (must >= roi_res, use interp)
target_res: [2000,2000] # Target resize res. (can < or > roi_res, corresponding to image pad/crop) 
roi_res: [2000,2000] # roi res. of target/simulation when calc. loss
save_wrap_res: [2000,2000]



normalize_ratio: 1.0 # scaling of target

device: 'cuda'

method_phase: 'GS'
optim_params_phase:
  num_iters: 500

method: 'SGD'
optim_params:
  optimizer: 'adam'
  mask_grad_percentage: 1.0
  num_iters: 5000
  eps: 1.0e-6
  amsgrad: True
  lr: 1.0e+14
  lr_s: 0.00001
    
loss_params:
  square: False
  normalize: 'None'

  
wavelength: [650.0e-9]
refraction_index: [1.615]

# wavelength: [520.0e-9]
# refraction_index: [1.637]

# wavelength: [450.0e-9,520.0e-9,650.0e-9]
# refraction_index: [1.65, 1.637, 1.62]
